@import "../../../../common.scss";

.card {
    @extend .clearfix;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.065);
    border-radius: 15px;
    ~.card {
      margin-top: 1rem;
    }
    div {
      border: none
    }
    div.bubble {
      $bubbleSize: 30px;
      position: relative;
      z-index: 1; //border: inherit;
      display: inline-block;
      font-size: $bubbleSize/2;
      height: $bubbleSize;
      width: $bubbleSize;
      border-radius: $bubbleSize/2;
      margin: 0.5rem 0.5rem 0rem 0.5rem;
       :before {
        position: absolute;
        line-height: $bubbleSize - 2px;
        text-align: center;
        vertical-align: bottom;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: $bubbleSize;
        height: $bubbleSize;
        border-radius: $bubbleSize/2;
        background: radial-gradient(circle at top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
      }
      @include for-tablet-portrait-below {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
      }
    }
    div.title {
      padding: 0 1rem;
      margin-top: 0.5rem;
      font-size: 1.5rem;
      color: hsl(0, 0%, 35%);
      @include for-tablet-portrait-below {
        font-size: 1.25rem;
        line-height: 30px;
      }
    }
    .cardFooter {
      @extend .clearfix;
      div {
        float: left;
        margin-left: 1rem;
      }
    }
    div.time {
      float: right;
      font-size: 75%;
      padding-right: 1rem;
      padding-bottom: 0.5rem;
    }
    .content {
      width: calc(100% - 2rem);
      margin: 0rem 1rem;
      padding: 1rem 0;
      background-color: rgba(0, 0, 0, 0);
    }
    .minorPadding {
      height: 0.7rem;
    }
  }