
.description {
    iframe {
      margin: 1rem auto;
      display: block;
      max-width: 80%;
    }
  }

  .profile_header{
    height: 20rem;
    background-color: hsl(240, 80%, 70%);
    box-shadow: 0px 1px 4px gray;
  }

  .profile{
    text-align: center;
    h1{
      position: relative;
      .edit-btn{
        right: 1rem;
        top: 0rem;
        position: absolute;
      }
    }
    .headline {
      font-style: italic;
      margin: 1rem;
    }
    .profile_picture{
      $size: 6rem;
      $padding: 0.75rem;
      $total-size: $size + $padding;
      height: $total-size/2 + 1.25rem;
      position: relative;
      div{
        top: -($total-size/2);
        left: 50%;
        margin-left: -($total-size/2);
        position: absolute;
        background: hsl(240, 20%, 90%);
        border-radius: 50%;
        padding: $padding;
        border: 0.2rem solid hsl(240, 5%, 100%);
        box-shadow: 0px 1px 8px 1px gray;
        i{
          height: $size;
          width: $size;
          font-size: $size;
          line-height: $size;
          text-align: center;
        }
      }
    }
    .summary, h3{
      &::before {
          display: inline-block;
          content: "";
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          width: calc(100% - 2rem);
          margin: 0 1rem;
          transform: translateY(-1rem);
      }
    }
  }
