
.description {
    iframe {
      margin: 1rem auto;
      display: block;
      max-width: 80%;
    }
  }

  .profile_header{
    height: 20rem;
    box-shadow: 0px 1px 4px gray;
    position: relative;
    z-index: 0;
    background-color: hsl(240, 80%, 70%);
    &::before, &::after{
      content: '';
      left: 0;
      width: 100%;
      height: 20rem;
      top: 0;
      position: absolute;
      z-index: 1;
    }
    &::before{
      background: linear-gradient(to top left, hsl(240, 80%, 50%), hsl(270, 70%, 70%), hsl(300, 61%, 52%));
      z-index: 1;
    }
    &::after{
      z-index: 2;
      background-image: url('/assets/images/profile_overlay_1.svg');
    }
  }

  .profile{
    text-align: center;
    h1.title{
      margin-top: 0;
    }
    .edit-btn{
      .fa-pencil-alt{
        right: 0rem;
        top: -3.5rem;
        $size: 2.5rem;
        height: $size;
        width: $size;
        position: absolute;
      }
      position: relative;
    } 
    .headline {
      font-style: italic;
      margin: 1rem;
    }
    .profile_picture{
      $size: 6.2rem;
      $padding: 1rem;
      $total-size: $size + $padding;
      height: $total-size/2 + 1.25rem;
      position: relative;
      div{
        top: -($total-size/2);
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        background: hsl(240, 20%, 90%);
        border-radius: 50%;
        padding: $padding;
        border: 0.2rem solid hsl(240, 5%, 100%);
        box-shadow: 0px 1px 8px 1px gray;
        z-index: 500;
        .fa-user{
          height: $size / 2;
          width: $size / 2;
          text-align: center;
        }
      }
    }
    .summary, h3{
      &::before {
          display: inline-block;
          content: "";
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          border-top: 1px solid rgba(0, 0, 0, 0.2);
          height: 0;
          width: calc(100% - 2rem);
          margin: 0 1rem;
          transform: translateY(-1rem);
      }
    }
  }
