@mixin hand($height, $width, $color){
    content: "";
    border-radius: 30%;
    position: absolute;
    transform-origin: 50% 100%;
    background: $color;
    height: $height + 2%;
    top: 50% - $height;
    left: 50% - ($width/2);
    width: $width;
}

@for $minute from 0 through 59{
    .min-#{$minute}::before{
        transform: rotateZ(360deg/60 * $minute);
    }
}

@for $hour from 0 through 12{
    .hr-#{$hour}::after{
        transform: rotateZ(360deg/12 * ($hour));
    }
}

$clock-size: 50px;

.clock{
    position: relative;
    border: 4px solid hsl(240, 60%, 50%);
    border-radius: 50%;
    width: $clock-size;
    height: $clock-size;
    &::before{
      @include hand(45%, 10%, hsl(240, 50%, 40%));
    }
    
    &::after{
        @include hand(30%, 12%, hsl(240, 50%, 40%));
    }
}