@import '../../../common.scss';
.indicator {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding: 10px;

  &.offline,
  &.was_offline {
    opacity: 1;
    visibility: visible;
  }

  &.offline {
    @extend .tone1-6-color;
    &::before {
      content: "You are currently offline. While you are offline, you may use the app but some features may not work and information may be outdated.";
    }
  }

  &.was_offline {
    @extend .tone1-2-color;
    &::before{
      content: "You were recently offline, refresh the page to get the most updated information.";
    }
  }
}