@import "./../../common.scss";
$header-height: 30px;
$header-padding: 0.75rem 1rem;
body {
  background-color: hsl(240, 7%, 27%);
  font-family: $font-family-sans-serif;
  line-height: 150%;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  div {
    padding: 1rem;
  }
}

.search-input {
  margin: 0.2rem;
  line-height: $header-height;
  width: 100%;
  input {
    width: 100%;
    height: $header-height + 15px;
    line-height: $header-height;
    font-size: 14pt;
    padding: $header-padding 10px;
  }
}

.page {
  min-height: calc(100vh - 147px);
  background-color: white;
  margin-top: $header-height * 1.75;
}

.header {
  @extend .accent-color;
  @extend .clearfix;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: $header-padding;
  line-height: $header-height;
  font-size: 14pt;
  .search-bar-embeded-menu-wrapper{
    @extend .hideOnPhone;
    float: left;
    margin-left: 1.25rem;
    width: calc(100% - 10rem);
  }
  .search-bar-embeded-menu {
    width: 100%;
  }
  .search-bar-menu {
    top: 0;
    left: 0;
    position: absolute;
    height: $header-height * 2 + 10px;
    line-height: $header-height;
    z-index: 100;
    width: 100%;
    padding: $header-padding;
    .btn {
      display: inline-block;
      max-width: 50px;
      margin: 0;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    }
    &.hide {
      top: -80px;
    }
    .search-input {
      display: inline-block;
      width: calc(100% - 80px);
    }
  }
  a:first-child {
    float: left;
  }
  a {
    @extend .accent-color;
    float: right;
    text-decoration: none;
    margin-left: 1.25rem;
  }
  a:hover,
  a:hover svg {
    color: darken(white, 15%);
  }
  svg {
    line-height: $header-height;
    text-shadow: 0px 4px 8px #040405;
  }
  svg:hover {
    line-height: $header-height;
    text-shadow: 0px 1px 8px #040405;
  }
  .icon {
    box-shadow: 0px 3px 6px #040405;
    width: $header-height;
    height: $header-height;
    $bgcol: #ddd;
    background-color: $bgcol;
    border-radius: $header-height/2 + 1px;
    color: #222;
    text-align: center;
    text-shadow: none !important;
    padding: 5px;
  }
  a:hover .icon {
    $bgcol: darken(#ccc, 5%);
    color: darken(#222, 10%) !important;
    box-shadow: 0px 2px 8px #040405;
    background-color: $bgcol;
  }
  img {
    margin-top: $header-height/4;
    width: $header-height;
    height: $header-height;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    margin-top: 0.5rem;
    padding-left: 0;
    li {
      float: right;
      position: relative;
      background: none;
      ul.dropdown {
        display: none;
        position: absolute;
        top: 1rem;
        right: -1rem;
        padding-top: 1rem;
        z-index: 99999;
        a {
          @extend .accent-color;
          text-align: center;
          width: 100%;
          ;
          margin: 0;
           :hover {
            background-color: lighten(#333, 10%);
          }
        }
        li {
          padding: 0.25rem 0.5rem;
          width: 150px;
          text-align: center;
        }
      }
      >a {
        height: 100%;
        ;
      }
      a:hover+ul.dropdown,
      ul.dropdown:hover {
        display: block;
      }
    }
  }
}

.searchResult {
  >div {
    display: inline-block;
    width: 50%;
  }
  .label {
    width: 90px;
    font-weight: bold;
    &+div {
      width: calc(100% - 90px) !important;
    }
  }
  .skills {
    width: 100%;
    outline: none;
  }
}

.smallText {
  font-size: 12pt;
  color: rgba(25, 25, 25, 0.7);
}

.pageBody {
  @extend .clearfix;
  margin: 0rem 0.5rem;
  @include for-tablet-landscape-up {
    margin: 0rem auto;
    width: calc(100% - 1rem);
    max-width: 1100px;
  }
  a {
    color: hsl(210, 97%, 58%); //rgba(3, 128, 245, 0.966);
    text-decoration: none;
    &:hover {
      color: hsl(210, 90%, 48%);
    }
  }
}

div.edit-btn {
  float: right;
  &.left {
    float: left;
  }
  cursor: pointer;
  margin-right: 2rem;
  a {
    color: hsl(240, 20%, 50%);
     :hover {
      color: hsl(240, 20%, 10%);
    }
  }
}

.marginized{
  margin-left: 0.5rem;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul.list {
  list-style: none;
  padding: 0;
  li {
    width: 100%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
  }
  a~a li {
    border-top: none;
  }
}

img.profileImage {
  width: 80%;
}

.withMargins>div {
  margin: 0.5rem 0rem;
}

.btn {
  @extend .pointer;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 1rem; //border-radius: 15px;
  font-size: 105%;
  text-align: center;
  width: 90%;
  @include for-tablet-portrait-up {
    display: inline-block;
    width: inherit;
  }
  &.save {
    min-width: 85px;
    min-height: 45px;
    font-size: 140%;
  }
}

.btn,
.sm-btn {
  box-shadow: 2px 2px 3px grey;
}

.btn:hover,
.sm-btn:hover {
  box-shadow: 1px 1px 2px grey;
}

.sm-btn {
  @extend .pointer;
  margin: 1rem;
  padding: 0.50rem 0.75rem;
  border-radius: 15px;
  text-align: center;
}

.login-box {
  max-width: 500px;
}

.register-box {
  max-width: 650px;
}

.relative {
  position: relative;
}

.login-box,
.register-box {
  height: calc(100vh - 240px);
  margin: 0px auto;
  display: table;
  padding: 0;
  .centered {
    display: table-cell;
    vertical-align: middle;
    >div {
      @extend .border;
      @extend .clearfix;
      padding: 20px;
      form div {
        input:first-of-type {
          @extend .border;
          border-bottom: none;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
        input~input {
          @extend .border;
          border-bottom: none;
          border-radius: 0px;
        }
        input:last-of-type {
          @extend .border;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      input {
        height: 2.5rem;
        line-height: 2em;
        padding: 0.25rem 0.5rem;
        margin: 0;
      }
      input.btn {
        margin: 1rem;
        height: auto;
        line-height: auto;
        padding: 0.25rem 0.75rem;
        float: none;
        font-size: 105%;
        font-weight: bold;
        max-width: 150px;
      }
    }
  }
}

div.error {
  text-align: center;
   ::before {
    content: "Errors!";
    line-height: 3rem;
    color: rgba(87, 9, 9, 0.73);
    font-weight: bold;
  }
  background: rgba(255, 128, 128, 0.5);
  width: 80%;
  padding: 0px 5px 10px;
  border: 2px solid rgba(200, 10, 10, 0.8);
  margin: 1.5rem auto;
  ul {
     ::before {
      content: none;
    }
    list-style: none;
    padding: 0;
    li {
      text-transform: lowercase;
      font-style: italic;
      div::first-letter {
        text-transform: uppercase !important;
      }
    }
  }
}

$loading-size: 100px;
@mixin loading-animation($duration, $anim) {
  -webkit-animation: $anim $duration linear infinite;
  animation: $anim $duration linear infinite;
}

@mixin border-base($color) {
  border: 3px solid transparent;
  border-top-color: $color;
  border-radius: 50%;
}

@mixin loading-border($color) {
  @include border-base($color);
  border-left: none;
}

@mixin loading-border2($color) {
  @include border-base($color);
  border-right: none;
}

@mixin loading-pos($offset) {
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
}

.loading {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: $loading-size;
  height: $loading-size;
  margin-left: -$loading-size/2;
  @include loading-border(hsla(120, 15%, 20%, 60%));
  @include loading-animation(1.75s, spin);
}

.loading:after {
  content: "";
  position: absolute;
  @include loading-border2(hsla(120, 15%, 50%, 10%));
  @include loading-pos(8px);
  @include loading-animation(0.65s, spin2);
}

.loading:before {
  content: "";
  position: absolute;
  @include loading-pos(16px);
  @include loading-border(hsla(120, 20%, 80%, 60%));
  @include loading-animation(2s, spin);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(-360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    transform: rotate(-360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

.modalDialog {
  display: none;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 400px;
  position: absolute;
  padding: 10px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  min-height: 125px;
}

.modalDialog.timepicker>div {
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 0px;
  top: 50vh !important;
  left: 50vw !important;
  transform: translate(0%, -20%) !important;
  margin: -225px 0 0 -130px;
}

.modal_close::before {
  content: 'X';
}

.modal_close {
  background: hsl(240, 20%, 30%);
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  z-index: 99999;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.modal_close:hover {
  background: hsl(240, 50%, 30%);
  cursor: pointer;
}

.no-bg {
  background: none !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 6px, rgba(0, 0, 0, 0.19) 0px 3px 6px;
}

.inline {
  display: inline-block;
}

.hidden {
  display: none;
}

input[type=text],
textarea {
  margin: 0.5rem 0rem 1.25rem;
  padding: 0.5rem;
}

.fullWidth {
  width: 100%;
}

textarea {
  height: 7rem;
  min-height: 5rem;
  max-width: 100%;
  min-width: 100%;
}

.shadow {
  $col: black;
  /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
  -webkit-filter: drop-shadow( 0px 2px 6px $col);
  filter: drop-shadow( 0px 2px 6px $col);
  &:hover {
    -webkit-filter: drop-shadow( 0px 1px 2px $col);
    filter: drop-shadow( 0px 1px 2px $col);
  }
}

///////////////////////////////////////
/// Interview Time List
///////////////////////////////////////
ul.interview_slots {
  list-style: none;
  padding: 0;
  li {
    height: 50px;
    &~li {
      margin-top: 20px;
    }
  }
  div {
    &.inline {
      margin-left: 20px;
    }
    &.start,
    &.end,
    &.arrow,
    &.tools {
      display: inline-block;
    }
    &.end,
    &.start {
      position: relative;
      top: -5px;
    }
    &.tools {
      font-size: 200%;
      line-height: 50px;
      height: 60px;
      text-align: center;
      vertical-align: bottom;
      i {
        margin-left: 25px;
      }
    }
    $arrow-col: hsl(240, 50%, 50%);
    .fa-arrow-right {
      color: $arrow-col;
      margin: 0rem 0.5rem;
      height: 40px;
      width: 50px;
      margin-bottom: 5px;
    }
    &.arrow {
      $arrow-col: hsl(240, 50%, 50%);
      width: 80px;
      height: 50px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        $arrow-size: 10px;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: $arrow-size solid $arrow-col;
        left: calc(50% + 15px);
        top: calc(50% - 6px);
      }
      &::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 0;
        border: 5px solid $arrow-col;
        left: calc(50% - 15px);
        top: calc(50% - 1px);
      }
    }
  }
}

///////////////////////////////////////
/// Interview Time Picker
///////////////////////////////////////
.done-date-btn,
.DayPicker {
  display: block;
  color: rgb(104, 104, 104);
  text-transform: uppercase;
  border: 1px solid rgb(204, 204, 204);
  text-align: center;
  cursor: pointer;
  padding: 16px 0px;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: normal;
  font-weight: 500;
  text-align: center;
  background: rgb(244, 244, 244);
}

.DayPicker {
  border-bottom: none;
}

.timepicker {
  border: 2px hsl(240, 20%, 30%) solid;
  padding: 1rem;
  padding-bottom: 0.2rem;
}

///////////////////////////////////////
/// List Item
///////////////////////////////////////
li.listItem {
  div.name {
    @include for-tablet-portrait-up {
      display: inline-block;
    }
    line-height: 50px;
  }
  .buttons {
    @include for-tablet-portrait-up {
      float: right;
      .btn {
        font-size: 100%;
        margin: 0 0.5rem;
      }
    }
  }
  div.skills {
    clear: both;
    float: none;
    color: rgba(25, 25, 25, 0.7);
    li {
      width: inherit;
    }
    ul {
      display: inline-block;
      margin-bottom: -10px;
    }
    div {
      display: inline-block;
      font-weight: bold;
    }
  }
}

///////////////////////////////////////
/// Editor
///////////////////////////////////////
.wysiwygEditor {
  min-height: 320px;
}

.wysiwygWrapper {
  margin: 1.5rem auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
}

.wysiwygToolbar {
  background-color: #444;
  margin: 0px;
  padding-bottom: 0.5rem;
}

///////////////////////////////////////
/// Clock
///////////////////////////////////////
@mixin hand($height, $width, $color) {
  content: "";
  border-radius: 30%;
  position: absolute;
  transform-origin: 50% 100%;
  background: $color;
  height: $height + 2%;
  top: 50% - $height;
  left: 50% - ($width/2);
  width: $width;
}

@for $minute from 0 through 59 {
  .min-#{$minute}::before {
    transform: rotateZ(360deg/60 * $minute);
  }
}

@for $hour from 0 through 12 {
  .hr-#{$hour}::after {
    transform: rotateZ(360deg/12 * ($hour));
  }
}

$clock-size: 50px;
.clock {
  position: relative;
  border: 4px solid hsl(240, 60%, 50%);
  border-radius: 50%;
  width: $clock-size;
  height: $clock-size;
  &::before {
    @include hand(45%, 10%, hsl(240, 50%, 40%));
  }
  &::after {
    @include hand(30%, 12%, hsl(240, 50%, 40%));
  }
}

///////////////////////////////////////
/// Card
///////////////////////////////////////
.card {
  $bubbleSize: 30px;
  @extend .clearfix;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.065); //border-radius: 15px;
  &.light {
    background-color: rgba(0, 0, 0, 0.035);
  }
  ~.card {
    margin-top: 0.5rem;
  }
  div {
    border: none
  }
  .cardHeader {
    display: flex;
    flex-direction: row;
    div.bubble {
      position: relative;
      z-index: 1; //border: inherit;
      font-size: $bubbleSize/2;
      height: $bubbleSize;
      width: $bubbleSize;
      min-width: $bubbleSize; //border-radius: 50%;
      margin: 0.5rem 0.5rem 0rem 0.5rem;
      svg {
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
      }
       :before {
        line-height: $bubbleSize;
        position: absolute;
        text-align: center;
        vertical-align: bottom;
        z-index: 5;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: $bubbleSize;
        height: $bubbleSize;
        border-radius: $bubbleSize/2; //background: radial-gradient(circle at top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
      }
      @include for-tablet-portrait-below {
        width: 30px;
        height: 30px;
      }
    }
    div.title {
      padding: 0 0.5rem;
      margin-top: 0.5rem;
      font-size: 1.5rem;
      color: hsl(0, 0%, 35%);
      line-height: $bubbleSize;
      vertical-align: middle;
      @include for-tablet-portrait-below {
        font-size: 1.25rem;
        line-height: 30px;
      }
      &.full {
        width: 100%;
      }
      > div {
        width: 100%;
      }
      div.name {
        float: left;
      }
      div.smallText {
        float: right
      }
    }
  }
  .cardFooter {
    @extend .clearfix;
    div {
      float: left;
      margin-left: 1rem;
      margin-bottom: 0.25rem;
      &.nofloat {
        @extend .clearfix;
        float: none;
        ~div {
          margin-top: 16px;
        }
      }
    }
    @include for-tablet-portrait-up {
      & ~ div.time {
        margin-top: -25px
      }
    }
  }
  div.time {
    float: right;
    font-size: 75%;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
  }
  .content {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .minorPadding {
    height: 0.5rem;
  }
}

///////////////////////////////////////
/// React Tabs
///////////////////////////////////////
$tab-color: hsl(240, 80%, 58%);
.react-tabs__tab-list {
  @extend .clearfix;
  background-color: darken($tab-color, 2.5%);
  list-style: none;
  margin: 0 auto;
  max-width: 100%;
  padding: 0px;
  text-align: center;
}

.react-tabs__tab {
  cursor: pointer;
  float: left;
  padding: 5px 10px;
  background-color: $tab-color;
  border: 3px solid $tab-color;
  border-bottom: none;
  color: white;
  text-align: center;
  + .react-tabs__tab {
    border-left: 1px solid lighten($tab-color, 20%);
  }
}
.react-tabs__tab.react-tabs__tab--selected + .react-tabs__tab {
  border-left: 3px solid $tab-color;
}

.react-tabs__tab--selected {
  cursor: default;
  background-color: white;
  border-bottom-color: white;
  color: inherit;
  position: relative;
  z-index: 100;
}

.react-tabs__tab-panel--selected {
  border-top: 4px solid $tab-color;
  padding-top: 20px;
  margin-top: -4px;
}

///////////////////////////////////////
/// Tabs
///////////////////////////////////////
.tabs {
  .tab-content {
    width: 100%;
    clear: both;
    padding: 1rem 2rem;
  }
}

///////////////////////////////////////
///
///////////////////////////////////////
.zindex-fix {
  z-index: -1;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: z-index 0.6s, opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: z-index 0.6s, opacity 300ms ease-in;
}

.SlideInLeft-appear {
  z-index: 1;
  transform: translateX(30px);
  opacity: 0.3;
}

.SlideInLeft-appear.SlideInLeft-appear-active {
  opacity: 1;
  transform: translateX(0);
  ;
  transition: z-index 0.6s, all 0.5s linear;
}

.SlideInLeft-enter {
  opacity: 0;
  transform: translateX(30px);
}

.SlideInLeft-enter.SlideInLeft-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: z-index 0.6s, all 0.2s linear 0.4s;
}

.SlideInLeft-leave {
  opacity: 1.0;
  transform: translateX(0);
}

.SlideInLeft-leave.SlideInLeft-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-30px);
  transition: z-index 0.6s, all 0.2s linear;
}

.SlideInRight-appear {
  z-index: 1;
  transform: translateX(-30px);
  opacity: 0.3;
}

.SlideInRight-appear.SlideInRight-appear-active {
  opacity: 1;
  transform: translateX(0);
  ;
  transition: z-index 0.6s, all 0.5s linear;
}

.SlideInRight-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.SlideInRight-enter.SlideInRight-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: z-index 0.6s, all 0.2s linear 0.4s;
}

.SlideInRight-leave {
  opacity: 1.0;
  transform: translateX(0);
}

.SlideInRight-leave.SlideInRight-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateX(30px);
  transition: z-index 0.6s, all 0.2s linear;
}

.SlideInTop-appear {
  z-index: 1;
  transform: translatey(-30px);
  opacity: 0.3;
}

.SlideInTop-appear.SlideInTop-appear-active {
  opacity: 1;
  transform: translateX(0);
  ;
  transition: z-index 0.6s, all 0.5s linear;
}

.SlideInTop-enter {
  opacity: 0;
  transform: translatey(-30px);
}

.SlideInTop-enter.SlideInTop-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: z-index 0.6s, all 0.2s linear 0.4s;
}

.SlideInTop-leave,
.SlideOutTop-leave {
  opacity: 1.0;
  transform: translateX(0);
}

.SlideInTop-leave.SlideInTop-leave-active,
.SlideOutTop-leave.SlideOutTop-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(-30px);
  transition: z-index 0.6s, all 0.2s linear;
}

.SlideInBottom-appear {
  z-index: 1;
  transform: translateY(30px);
  opacity: 0.3;
}

.SlideInBottom-appear.SlideInBottom-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: z-index 0.6s, all 0.5s linear;
}

.SlideInBottom-enter {
  opacity: 0;
  transform: translateY(30px);
}

.SlideInBottom-enter.SlideInBottom-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: z-index 0.6s, all 0.2s linear 0.4s;
}

.SlideInBottom-leave,
.SlideOutTop-leave {
  opacity: 1.0;
  transform: translateX(0);
}

.SlideInBottom-leave.SlideInBottom-leave-active,
.SlideOutTop-leave.SlideOutTop-leave-active {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: translateY(30px);
  transition: z-index 0.6s, all 0.2s linear;
}

///////////////////////////////////////
/// Profile Page
///////////////////////////////////////
.description {
  iframe {
    margin: 1rem auto;
    display: block;
    max-width: 80%;
  }
}

$profile_height: 15rem;
.profile_header {
  height: $profile_height;
  box-shadow: 0px 1px 4px gray;
  position: relative;
  z-index: 0;
  background-color: hsl(240, 80%, 70%);
  &::before,
  &::after {
    content: '';
    left: 0;
    width: 100%;
    height: $profile_height;
    top: 0;
    position: absolute;
    z-index: 1;
  }
  &::before {
    background: linear-gradient(to top left, hsl(240, 80%, 50%), hsl(270, 70%, 70%), hsl(300, 61%, 52%));
    z-index: 1;
  }
  &::after {
    z-index: 2;
    background-image: url('/assets/images/profile_overlay_1.svg');
  }
}

.profile {
  text-align: center;
  h1.title {
    margin-top: 0;
  }
  .edit-btn {
    .fa-pencil-alt {
      right: 0rem;
      top: -1.5rem;
      $size: 2.5rem;
      height: $size;
      width: $size;
      position: absolute;
    }
    position: relative;
  }
  .headline {
    font-style: italic;
    margin: 1rem;
  }
  .profile_picture {
    $size: 70px;
    $padding: 10px;
    $total-size: $size + $padding;
    height: $total-size/2;
    position: relative;
    div {
      top: -($total-size/2);
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background: hsl(240, 20%, 90%);
      border-radius: 50%;
      padding: $padding;
      border: 0.2rem solid hsl(240, 5%, 100%);
      box-shadow: 0px 1px 8px 1px gray;
      z-index: 500;
      width: $size;
      height: $size;
      .fa-user {
        height: $size / 2;
        width: $size / 2;
        text-align: center;
      }
    }
  }
  .summary,
  h3 {
    &::before {
      display: inline-block;
      content: "";
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      height: 0;
      width: calc(100% - 2rem);
      margin: 0 1rem;
      transform: translateY(-1rem);
    }
  }
}

///////////////////////////////////////
/// Shells
///////////////////////////////////////
.content {
  @extend .card-color;
  float: left;
  padding: 1rem;
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  @include for-tablet-portrait-up {
    width: calc(70% - 2rem);
    margin: 1rem 2rem 1rem 0rem;
  }
  @include for-tablet-landscape-up {
    width: calc(70% - 3rem);
    margin: 1rem 2rem 1rem;
  }
}

.full-content {
  @extend .card-color;
  padding: 1rem;
  margin: 1rem;
  width: calc(100% - 2rem);
}

.leftSidebar,
.leftSidebar-show,
.leftSidebar-phone {
  @include for-tablet-landscape-up{
    left: 1.5rem;
  }
}

.leftSidebar,
.leftSidebar-show,
.leftSidebar-phone,
.leftSidebar-fix {
  @extend .card-color;
  @include for-tablet-landscape-up {
    position:fixed;
  }
  width: calc(30% - 3rem);
  float: left;
  margin: 1rem;
  font-size: 90%;
  a:hover .section,
  .section.clickable:hover {
    box-shadow: 1px 2px 6px gray;
  }
  .section {
    width: 100%;
    padding: 0.75rem;
    ~.section,
    ~a .section,
    ~label .section {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    label {
      @extend .pointer;
    }
  }
  label~label .section,
  a~a .section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  >div>a {
    color: #111;
    text-decoration: none;
  }
  .selected {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.065);
  }
}

.leftSidebar-fix {
  border: none;
  position: initial;
  min-height: 250px;
}

.leftSidebar-show {
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}

.leftSidebar-phone {
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  @include for-tablet-portrait-up {
    display: none;
  }
}

.leftSidebar {
  @extend .hideOnPhone;
}

.leftSidebar-fix {
  @extend .hideOnTabletPortraitBelow;
}

///////////////////////////////////////
/// Online Indicator
///////////////////////////////////////
.indicator {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  &.offline,
  &.was_offline {
    opacity: 1;
    visibility: visible;
  }
  &.offline {
    @extend .tone1-6-color;
    &::before {
      content: "You are currently offline. While you are offline, you may use the app but some features may not work and information may be outdated.";
    }
  }
  &.was_offline {
    @extend .tone1-2-color;
    &::before {
      content: "You were recently offline, refresh the page to get the most updated information.";
    }
  }
}

///////////////////////////////////////
/// Footer
///////////////////////////////////////
.footer {
  @extend .accent-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  a {
    color: white;
  }
  div {
    padding: 0rem 0.5rem;
  }
}

.footerWrapper, .footer {
  height: 50px;
  padding: 0.75rem 0.25rem;
}

///////////////////////////////////////
/// Home Sidebar
///////////////////////////////////////
.num_friends {
  div {
    margin-top: 0.5rem;
  }
   :first-child {
    color: rgb(9, 94, 116);
    font-weight: bold;
    font-size: 125%;
  }
   :last-child {
    font-weight: bold;
    a:hover {
      color: lighten(rgb(9, 94, 116), 10%);
    }
  }
}

///////////////////////////////////////
/// User Page
///////////////////////////////////////
.skills {
  ul {
    list-style: none;
    text-align: center;
    li {
      @extend .tone1-5-color;
      padding: 0.25rem 0.75rem;
      border-radius: 0.5rem;
      display: inline-block;
      margin: 0.15rem;
    }
  }
}

///////////////////////////////////////
/// Statistics Page Demo
///////////////////////////////////////
.stats {
  .inline.margin {
    margin-left: 10px
  }
  .inline {
    width: calc(50% - 10px);
  }
  text-align: center;
}

///////////////////////////////////////
/// Search Bar Transitions
///////////////////////////////////////
.SlideInTopAbs-appear,
.SlideInTopAbs-enter {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(-80px);
}

.SlideInTopAbs-appear-active,
.SlideInTopAbs-enter {
  opacity: 1;
  transform: translateY(0px);
  transition: z-index 0.6s, all 0.4s linear;
}

.SlideInTopAbs-leave {
  opacity: 1.0;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0px);
}

.SlideInTopAbs-leave-active {
  opacity: 0;
  transform: translateY(0px);
  transition: z-index 0.6s, all 0.4s linear;
}

.SlideOutTopAbs-appear,
.SlideOutTopAbs-enter {
  opacity: 1.0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(80px);
}

.SlideOutTopAbs-appear-active,
.SlideOutTopAbs-enter {
  opacity: 0.5;
  transform: translateY(0px);
  transition: z-index 0.6s, all 0.4s linear;
}

.SlideOutTopAbs-leave {
  opacity: 1.0;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(0px);
}

.SlideOutTopAbs-leave-active {
  opacity: 0;
  transform: translateY(0px);
  transition: z-index 0.6s, all 0.4s linear;
}

///////////////////////////////////////
/// Applied Page status
///////////////////////////////////////
.applied_status {
  display: inline-block;
  margin: 1.5rem;
  color: white;
  padding: 0.5rem;
  border-radius: 25px;
  &.accepted {
    &:before {
      content: "Accepted";
    }
    background-color: hsla(108,
    86%,
    29%,
    1);
  }
  &.pending {
    @extend .tone1-5-color;
    &:before {
      content: "Pending";
    }
  }
  &.interviewed {
    @extend .tone1-2-color;
    &:before {
      content: "Finished Interview";
    }
  }
  &.interview_scheduled {
    background-color: hsla(280, 86%, 40%, 1);
    &:before {
      content: "Interview Scheduled";
    }
  }
  &.declined {
    @extend .tone2-2-color;
    &:before {
      content: "Declined";
    }
  }
}

.owner {
  @extend .clearfix;
  font-size: 75%;
  color: hsl(0, 0%, 35%);
  padding: 0.5rem;
  padding-top: 0;
  border-radius: 25px;
  &.owned::before {
    content: "Owned";
  }
  &.not_owned::before {
    content: "Owned by "
  }
}

.pagination > li.active > a, .pagination > li.active > span {
  background-color: hsl(240, 60%, 54%);
  color: white;
}

.pagination > li:hover > a, .pagination> li:hover >span {
  background-color: hsl(0, 0%, 90%);
}
.pagination > li.active > a:hover, .pagination > li.active > span:hover {
  background-color: hsl(240,60%,40%);
}
.pagination > li.disabled {
  background-color: hsl(240,60%,30%);
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  > li {
    display: inline;
    > a, > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.42857143;
      text-decoration: none;
      color: #337ab7;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
    }
  }
}

.applicant-list {
  list-style: none;
  padding: 0.5rem 1rem;

  li {
    background-color: hsl(0,0%,96%);
    padding: 1.5rem;
    margin: 0.5rem;
  }

  .applicant {
    display: flex;
    flex-direction: row;

    > div {
      margin: 0.5rem;
    }

    .applicant-info {
      display:flex;
      flex-direction: column;
    }
  }

  .btns{
    display: flex;
    flex-direction: row;
    .btn {
      float: none;
    }
    flex-wrap: wrap;
    justify-content: center;
  }

  a, a:hover {
    color: hsl(0, 0%, 10%);
  }
}

.notifications{
  a {
    color: hsl(0, 0%, 10%);
    &:hover {
      color: hsl(0, 0%, 10%);
    }
  }

  .notification--read, .notification--unread{
    outline: 1px solid hsl(0, 0%, 10%);
    background-color: hsl(0,0%,98%);
    margin: 0.5rem;
    padding: 0.5rem;
    &__message {
      padding: 0.5rem;
      font-size: 105%;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      &__time {
        text-align: right;
        font-size: 75%;
        color: hsl(0,0%,45%);
        align-self: center
      }
    }
    &__actions > div{
      text-align: center;
      display: flex;
      justify-content: center;
      @include for-tablet-portrait-up{
        flex-direction: row;
      }
      @include for-phone-only{
        flex-direction: column;
      }
      .btn {
        padding-left: 2rem;
        padding-right: 2rem;
        @include for-tablet-portrait-up{
          & ~ .btn{
            margin-left: 5%;
          }
        }
        @include for-phone-only{
          width: 80%;
          margin: 0.5rem auto;
        }
      }
    }
  }
  .notification--unread {
    &__message {
      font-weight: bold;
    }
    &__footer{
      &__mark-read {
        @extend .pointer;
        @extend .btn;
        @extend .tone1-5-color;
        font-size: 70%;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
