@import "./../../common.scss";
body {
  font-family: $font-family-sans-serif;
  line-height: 150%;
}

$header-height: 40px;
.header {
  @extend .accent-color;
  @extend .clearfix;
  padding: 0.75rem 1rem;
  line-height: $header-height;
  font-size: 14pt;
  a:first-child {
    float: left;
  }
  a {
    @extend .accent-color;
    float: right;
    text-decoration: none;
    margin-left: 1.25rem;
  }
  .fa {
    line-height: $header-height;
    text-shadow: 0px 4px 8px #040405;
  }
  .fa:hover {
    line-height: $header-height;
    text-shadow: 0px 1px 8px #040405;
    color: darken(white, 5%);
  }
  .icon {
    text-shadow: 0px 2px 2px #040405;
    box-shadow: 0px 4px 8px #040405;
    width: $header-height;
    height: $header-height;
    $bgcol: #ddd;
    background-color: $bgcol;
    $lbg: lighten($bgcol, 10%);
    $dbg: darken($bgcol, 10%);
    background: radial-gradient(circle at top, $lbg, $dbg);
    border-radius: $header-height/2 + 1px;
    color: #222;
    font-size: 18pt;
    text-align: center;
  }
  .fa.icon:hover {
    $bgcol: #ccc;
    color: darken(#222, 5%) !important;
    text-shadow: 0px 1px 2px #040405;
    box-shadow: 0px 2px 8px #040405;
    background-color: $bgcol;
    $lbg: lighten($bgcol, 2%);
    $dbg: darken($bgcol, 2%);
    background: radial-gradient(circle at top, $lbg, $dbg);
  }
  img {
    width: $header-height;
    height: $header-height;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    margin-top: 0.5rem;
    li {
      float: right;
      position: relative;
      background: none;
      ul.dropdown {
        display: none;
        position: absolute;
        top: 2rem;
        right: -1rem;
        padding-top: 1rem;
        a {
          @extend .accent-color;
          text-align: center;
          width: 100%;
          ;
          margin: 0;
           :hover {
            background-color: lighten(#333, 10%);
          }
        }
        li {
          padding: 0.25rem 0.5rem;
          width: 150px;
          text-align: center;
        }
      }
      >a {
        height: 100%;
        ;
      }
      a:hover+ul.dropdown,
      ul.dropdown:hover {
        display: block;
      }
    }
  }
}

.footer {
  @extend .accent-color;
  height: 50px;
  text-align: center;
  width: 100%;
  padding: 0.75rem 1rem;
}

.pageBody {
  @extend .clearfix;
  margin: 0rem 0.5rem;
  min-height: calc(100vh - 127px);
  @include for-tablet-landscape-up {
    margin: 0rem auto;
    width: calc(100% - 1rem);
    max-width: 1100px;
  }
}

.leftSidebar,
.leftSidebar-show,
.leftSidebar-phone {
  @extend .card-color;
  width: calc(30% - 3rem);
  float: left;
  margin: 1rem 1rem 1rem;
  .section {
    width: 100%;
    padding: 1rem;
    ~.section,
    ~a .section,
    ~label .section {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    label {
      @extend .pointer;
    }
  }
  label~label .section,
  a~a .section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  a {
    color: #111;
    text-decoration: none;
  }
  .selected {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.065);
  }
}

.leftSidebar-show {
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}

.leftSidebar-phone {
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  @include for-tablet-portrait-up {
    display: none;
  }
}

.leftSidebar {
  @extend .hideOnPhone;
}

.content {
  @extend .card-color;
  float: left;
  padding: 1rem;
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  @include for-tablet-portrait-up {
    width: calc(70% - 2rem);
    margin: 1rem 2rem 1rem 0rem;
  }
  @include for-tablet-landscape-up {
    width: calc(70% - 3rem);
    margin: 1rem 2rem 1rem;
  }
}

.full-content {
  @extend .card-color;
  padding: 1rem;
  margin: 1rem;
  width: calc(100% - 2rem);
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.num_friends {
  div {
    margin-top: 0.5rem;
  }
   :first-child {
    color: rgb(9, 94, 116);
    font-weight: bold;
    font-size: 125%;
  }
   :last-child {
    font-weight: bold;
    a:hover {
      color: lighten(rgb(9, 94, 116), 10%);
    }
  }
}

.tabs {
  .tab-content {
    width: 100%;
    clear: both;
    padding: 1rem 2rem;
  }
}

@import "./../../common.scss";
.card {
  @extend .clearfix;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.065);
  border-radius: 15px;
  ~.card {
    margin-top: 1rem;
  }
  div {
    border: none
  }
  div.bubble {
    $bubbleSize: 30px;
    position: relative;
    z-index: 1; //border: inherit;
    display: inline-block;
    float: left;
    font-size: $bubbleSize/2;
    height: $bubbleSize;
    width: $bubbleSize;
    border-radius: $bubbleSize/2;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
     :before {
      position: absolute;
      line-height: $bubbleSize - 2px;
      text-align: center;
      vertical-align: bottom;
      z-index: 5;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: $bubbleSize;
      height: $bubbleSize;
      border-radius: $bubbleSize/2;
      background: radial-gradient(circle at top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    }
    @include for-tablet-portrait-below {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
    }
  }
  div.title {
    padding: 0 1rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: hsl(0, 0%, 35%);
    @include for-tablet-portrait-below {
      font-size: 1.25rem;
      line-height: 30px;
    }
  }
  .cardFooter {
    @extend .clearfix;
    div {
      float: left;
      margin-left: 1rem;
    }
  }
  div.time {
    float: right;
    font-size: 75%;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
  }
  .content {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .minorPadding {
    height: 0.7rem;
  }
}

ul.list {
  list-style: none;
  padding: 0;
  li {
    width: 100%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
  }
  a~a li {
    border-top: none;
  }
}

.description {
  iframe {
    margin: 1rem auto;
    display: block;
    max-width: 80%;
  }
}

img.profileImage {
  width: 80%;
}

.summary {
  font-style: italic;
}

.wysiwygEditor {
  min-height: 320px;
}

.wysiwygWrapper {
  margin: 1.5rem auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 90%;
}

.wysiwygToolbar {
  background-color: #444;
  margin: 0px;
  padding-bottom: 0.5rem;
}

form div {
  margin: 0.5rem 0rem;
}

.btn {
  @extend .pointer;
  margin: 1rem 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 15px;
  font-size: 150%;
  text-align: center;
  @include for-tablet-landscape-up {
    float: right;
  }
}

.btn,
.sm-btn {
  box-shadow: 0px 2px 2px grey;
}

.btn:hover,
.sm-btn:hover {
  box-shadow: 0px 1px 2px grey;
}

.sm-btn {
  @extend .pointer;
  margin: 1rem;
  padding: 0.50rem 0.75rem;
  border-radius: 15px;
  text-align: center;
}

li.listItem {
  div.name {
    @include for-tablet-landscape-up {
      float: left;
    }
    line-height: 50px;
  }
  .buttons {
    @include for-tablet-landscape-up {
      float: right;
      .btn {
        font-size: 100%;
        margin: 0 0.5rem;
      }
    }
  }
}

.popup {
  @extend .clearfix;
  @extend .card-color;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 25vw;
  top: calc(50vh - 10rem);
  left: 37.5vw;
  z-index: 99999;
  height: 20rem;
  position: absolute;
  .btn {
    float: none;
    margin: 2rem auto;
    width: 10rem;
    position: absolute;
    bottom: 5rem;
    left: calc(12.5vw - 5rem);
  }
}

.popup-bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -0.8vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99998;
}

.w80 {
  width: 80%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.login-box {
  max-width: 350px;
}

.register-box {
  max-width: 650px;
}

.indicator{
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden; 
  background: hsl(240, 10%, 20%);
  padding: 10px;
  color: white;
}

.indicator.offline, .indicator.was_offline {
  opacity: 1;
  visibility: visible; 
}

.indicator.offline:before {
  content: "You are currently offline. While you are offline, you may use the app but some features may not work and information may be outdated.";
}

.indicator.was_offline{
  background: hsl(120, 15%, 25%);
}

.indicator.was_offline:before{
  content: "You were recently offline, refresh the page to get the most updated information.";
}

.login-box,
.register-box {
  height: calc(100vh - 240px);
  margin: 0px auto;
  display: table;
  padding: 0;
  .centered {
    font-size: 125%;
    display: table-cell;
    vertical-align: middle;
    >div {
      @extend .border;
      @extend .clearfix;
      padding: 20px;
      form div {
        input:first-of-type {
          @extend .border;
          border-bottom: none;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
        input~input {
          @extend .border;
          border-bottom: none;
          border-radius: 0px;
        }
        input:last-of-type {
          @extend .border;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      input {
        height: 2.5em;
        line-height: 2em;
        padding: 0.75rem;
        margin: 0;
      }
      input.btn {
        margin: 1rem;
        height: auto;
        line-height: auto;
        padding: 0.5rem 1rem;
        float: none;
        font-size: 120%;
        font-weight: bold;
      }
    }
  }
  div.error {
     ::before {
      content: "Errors!";
      line-height: 3rem;
      color: rgba(87, 9, 9, 0.73);
      font-weight: bold;
    }
    background: rgba(255, 128, 128, 0.5);
    width: 80%;
    padding: 0px 5px 10px;
    border: 2px solid rgba(200, 10, 10, 0.8);
    margin: 1.5rem auto;
    ul {
       ::before {
        content: none;
      }
      list-style: none;
      padding: 0;
      li {
        text-transform: lowercase;
        font-style: italic;
        div::first-letter {
          text-transform: uppercase !important;
        }
      }
    }
  }
}

$loading-size: 100px;
@mixin loading-animation($duration, $anim) {
  -webkit-animation: $anim $duration linear infinite;
  animation: $anim $duration linear infinite;
}

@mixin border-base($color) {
  border: 3px solid transparent;
  border-top-color: $color;
  border-radius: 50%;
}

@mixin loading-border($color) {
  @include border-base($color);
  border-left: none;
}

@mixin loading-border2($color) {
  @include border-base($color);
  border-right: none;
}

@mixin loading-pos($offset) {
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
}

.loading {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: $loading-size;
  height: $loading-size;
  margin-left: -$loading-size/2;
  @include loading-border(hsla(120, 15%, 20%, 60%));
  @include loading-animation(1.75s, spin);
}

.loading:after {
  content: "";
  position: absolute;
  @include loading-border2(hsla(120, 15%, 50%, 10%));
  @include loading-pos(8px);
  @include loading-animation(0.65s, spin2);
}

.loading:before {
  content: "";
  position: absolute;
  @include loading-pos(16px);
  @include loading-border(hsla(120, 20%, 80%, 60%));
  @include loading-animation(2s, spin);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(-360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    transform: rotate(-360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}