@import "./../../common.scss";
body {
  font-family: $font-family-sans-serif;
  line-height: 150%;
}

$header-height: 40px;
.header {
  @extend .accent-color;
  @extend .clearfix;
  padding: 0.75rem 1rem;
  line-height: $header-height;
  font-size: 14pt;
  a:first-child {
    float: left;
  }
  a {
    @extend .accent-color;
    float: right;
    text-decoration: none;
    margin-left: 1.25rem;
  }
  .fa {
    line-height: $header-height;
    text-shadow: 0px 4px 8px #040405;
  }
  .fa:hover {
    line-height: $header-height;
    text-shadow: 0px 1px 8px #040405;
    color: darken(white, 15%);
  }
  .icon {
    box-shadow: 0px 3px 6px #040405;
    width: $header-height;
    height: $header-height;
    $bgcol: #ddd;
    background-color: $bgcol;
    border-radius: $header-height/2 + 1px;
    color: #222;
    font-size: 18pt;
    text-align: center;
    text-shadow: none !important;
  }
  .fa.icon:hover {
    $bgcol: darken(#ccc, 5%);
    color: darken(#222, 10%) !important;
    box-shadow: 0px 2px 8px #040405;
    background-color: $bgcol;
  }
  img {
    width: $header-height;
    height: $header-height;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0;
    margin-top: 0.5rem;
    li {
      float: right;
      position: relative;
      background: none;
      ul.dropdown {
        display: none;
        position: absolute;
        top: 2rem;
        right: -1rem;
        padding-top: 1rem;
        z-index: 99999;
        a {
          @extend .accent-color;
          text-align: center;
          width: 100%;
          ;
          margin: 0;
           :hover {
            background-color: lighten(#333, 10%);
          }
        }
        li {
          padding: 0.25rem 0.5rem;
          width: 150px;
          text-align: center;
        }
      }
      >a {
        height: 100%;
        ;
      }
      a:hover+ul.dropdown,
      ul.dropdown:hover {
        display: block;
      }
    }
  }
}

.pageBody {
  @extend .clearfix;
  margin: 0rem 0.5rem;
  min-height: calc(100vh - 127px);
  @include for-tablet-landscape-up {
    margin: 0rem auto;
    width: calc(100% - 1rem);
    max-width: 1100px;
  }
}

div.edit-btn {
  float: right;
  cursor: pointer;
  margin-right: 2rem;
  a {
    color: hsl(240, 20%, 50%);
     :hover {
      color: hsl(240, 20%, 10%);
    }
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul.list {
  list-style: none;
  padding: 0;
  li {
    width: 100%;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
  }
  a~a li {
    border-top: none;
  }
}

img.profileImage {
  width: 80%;
}

.withMargins > div {
  margin: 0.5rem 0rem;
}

.btn {
  @extend .pointer;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.75rem;
  //border-radius: 15px;
  font-size: 125%;
  text-align: center;
  width: 90%;
  @include for-tablet-landscape-up {
    float: right;
    width: inherit;
  }
}

.btn,
.sm-btn {
  box-shadow: 2px 2px 3px grey;
}

.btn:hover,
.sm-btn:hover {
  box-shadow: 1px 1px 2px grey;
}

.sm-btn {
  @extend .pointer;
  margin: 1rem;
  padding: 0.50rem 0.75rem;
  border-radius: 15px;
  text-align: center;
}

.login-box {
  max-width: 350px;
}

.register-box {
  max-width: 650px;
}

.login-box,
.register-box {
  height: calc(100vh - 240px);
  margin: 0px auto;
  display: table;
  padding: 0;
  .centered {
    font-size: 125%;
    display: table-cell;
    vertical-align: middle;
    >div {
      @extend .border;
      @extend .clearfix;
      padding: 20px;
      form div {
        input:first-of-type {
          @extend .border;
          border-bottom: none;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
        input~input {
          @extend .border;
          border-bottom: none;
          border-radius: 0px;
        }
        input:last-of-type {
          @extend .border;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      input {
        height: 2.5em;
        line-height: 2em;
        padding: 0.75rem;
        margin: 0;
      }
      input.btn {
        margin: 1rem;
        height: auto;
        line-height: auto;
        padding: 0.5rem 1rem;
        float: none;
        font-size: 120%;
        font-weight: bold;
      }
    }
  }
}

div.error {
  text-align: center;
   ::before {
    content: "Errors!";
    line-height: 3rem;
    color: rgba(87, 9, 9, 0.73);
    font-weight: bold;
  }
  background: rgba(255, 128, 128, 0.5);
  width: 80%;
  padding: 0px 5px 10px;
  border: 2px solid rgba(200, 10, 10, 0.8);
  margin: 1.5rem auto;
  ul {
     ::before {
      content: none;
    }
    list-style: none;
    padding: 0;
    li {
      text-transform: lowercase;
      font-style: italic;
      div::first-letter {
        text-transform: uppercase !important;
      }
    }
  }
}

$loading-size: 100px;
@mixin loading-animation($duration, $anim) {
  -webkit-animation: $anim $duration linear infinite;
  animation: $anim $duration linear infinite;
}

@mixin border-base($color) {
  border: 3px solid transparent;
  border-top-color: $color;
  border-radius: 50%;
}

@mixin loading-border($color) {
  @include border-base($color);
  border-left: none;
}

@mixin loading-border2($color) {
  @include border-base($color);
  border-right: none;
}

@mixin loading-pos($offset) {
  top: $offset;
  left: $offset;
  right: $offset;
  bottom: $offset;
}

.loading {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: $loading-size;
  height: $loading-size;
  margin-left: -$loading-size/2;
  @include loading-border(hsla(120, 15%, 20%, 60%));
  @include loading-animation(1.75s, spin);
}

.loading:after {
  content: "";
  position: absolute;
  @include loading-border2(hsla(120, 15%, 50%, 10%));
  @include loading-pos(8px);
  @include loading-animation(0.65s, spin2);
}

.loading:before {
  content: "";
  position: absolute;
  @include loading-pos(16px);
  @include loading-border(hsla(120, 20%, 80%, 60%));
  @include loading-animation(2s, spin);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(-360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(-360deg);
    /* IE 9 */
    transform: rotate(-360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

.modalDialog {
  display: none;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 400px;
  position: absolute;
  padding: 10px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  top: 50%;
  left: 50%;
  height: 125px;
  margin: -150px 0 0 -200px;
}

.modalDialog.timepicker>div {
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 0px;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -130px;
}

.modal_close::before {
  content: 'X';
}

.modal_close {
  background: hsl(240, 20%, 30%);
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  z-index: 99999;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.modal_close:hover {
  background: hsl(240, 50%, 30%);
  cursor: pointer;
}

.no-bg {
  background: none !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 6px, rgba(0, 0, 0, 0.19) 0px 3px 6px;
}

.inline{
  display: inline-block;
}

.hidden{
  display: none;
}

input[type=text], textarea{
  margin: 0.5rem 0rem 1.25rem;
  padding: 0.5rem;
}

.fullWidth{
  width: 100%;
}

textarea{
  height: 7rem;
  min-height: 5rem;
  max-width: 100%;
  min-width: 100%;
}

.shadow {
  /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
  -webkit-filter: drop-shadow( 0px 2px 4px #111 ); 
          filter: drop-shadow( 0px 2px 4px #111 );
  &:hover{
    -webkit-filter: drop-shadow( 0px 1px 2px #111 ); 
    filter: drop-shadow( 0px 1px 2px #111 );
  }
}
