
.wysiwygEditor {
    min-height: 320px;
  }
  
  .wysiwygWrapper {
    margin: 1.5rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  
  .wysiwygToolbar {
    background-color: #444;
    margin: 0px;
    padding-bottom: 0.5rem;
  }