
.num_friends {
    div {
      margin-top: 0.5rem;
    }
     :first-child {
      color: rgb(9, 94, 116);
      font-weight: bold;
      font-size: 125%;
    }
     :last-child {
      font-weight: bold;
      a:hover {
        color: lighten(rgb(9, 94, 116), 10%);
      }
    }
  }