@import "../../common.scss";

.content {
    @extend .card-color;
    float: left;
    padding: 1rem;
    @include for-phone-only {
      width: calc(100% - 2rem);
      margin: 1rem;
    }
    @include for-tablet-portrait-up {
      width: calc(70% - 2rem);
      margin: 1rem 2rem 1rem 0rem;
    }
    @include for-tablet-landscape-up {
      width: calc(70% - 3rem);
      margin: 1rem 2rem 1rem;
    }
  }
  
  .full-content {
    @extend .card-color;
    padding: 1rem;
    margin: 1rem;
    width: calc(100% - 2rem);
  }

.leftSidebar,
.leftSidebar-show,
.leftSidebar-phone {
  @extend .card-color;
  width: calc(30% - 3rem);
  float: left;
  margin: 1rem 1rem 1rem;
  .section {
    width: 100%;
    padding: 1rem;
    ~.section,
    ~a .section,
    ~label .section {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    label {
      @extend .pointer;
    }
  }
  label~label .section,
  a~a .section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  a {
    color: #111;
    text-decoration: none;
  }
  .selected {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.065);
  }
}

.leftSidebar-show {
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}

.leftSidebar-phone {
  @include for-phone-only {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  @include for-tablet-portrait-up {
    display: none;
  }
}

.leftSidebar {
  @extend .hideOnPhone;
}
