@import "../../../../common.scss";

.react-tabs__tab-list {
    @extend .clearfix;
    list-style: none;
    margin: 0 auto;
    width: 80%;
    padding: 0px;
  }
  
  $tab-color: hsl(240, 80%, 58%);
  
  .react-tabs__tab-list::before{
    border: 2px solid $tab-color;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 51px;
    width: 100%;
    background: black;
    content: '';
  }
  
  .react-tabs__tab {
    cursor: pointer;
    float: left;
    padding: 5px 10px;
    background-color: $tab-color;
    border: 3px solid $tab-color;
    border-bottom: none;
    color: white;
    text-align: center;
  }
  
  .react-tabs__tab--selected {
    cursor: default;
    background-color: white;
    border-bottom-color: white;
    color: inherit;
    position: relative;
    z-index: 100;
  }
  
  .react-tabs__tab-panel {
    margin-top: 20px;
  }